@font-face {
    font-family: "Katibeh";
    src: url("../fonts/Katibeh-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  }
  
body {
    font-family: "Poppins"
}
header {
    height: 140px;
    text-align: center;
    margin: 20px; 
}
h1 {
    padding-bottom: 5px;
    padding-top:20px;
    font-family: "katibeh";
    font-size: 70px;
    font-weight: 100;
    margin-bottom: -33px
    
}
header a.logo {
    transition: all 0.5s ease;
    display: block;
    width: 170px;
    height: 100px;
    /* change dish-01.png to your loge image */
    background: url(../images/Logo@3x.png) no-repeat 0 0;
    background-size: contain;
    margin: auto; 
  }
  
  .horizontal-nav {
    margin: 25px 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  .horizontal-nav a {
    color: #000000;
    text-decoration: none;

  }
  .main-container {
    margin: 25px 20px;
  }
  .hero-image {
    width:100%;
  }
  .footer-content {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-content: center;
    margin: 0px 20px;
  }
  .social-icon-container a img {
height: 40px;
width: 40px;
  }
  .social-icon-container a {
    text-decoration: none;
    text-align:center;
  }

  .social-icon-container {
    text-align:center;
    /* position:relative; */
    /* left: 0; */
    /* right: 0; */
    /* margin: 0 0 20px 0; */
    /* width: 100%; */
    padding-bottom: 20px;
  
    width: 30%;
  }
  .footer-link-container {
    width: 30%;
   
    padding-top: 40px;
  }
  .footer-link-container a {
    text-decoration: none;
    color:#000000;
    padding-right: 10px;
    
   
  }
 .copyright-container {
    width: 30%;
 
 }
  .copyright-container a {
    text-decoration: none;
    color: black;
    float: right;
    padding-top: 40px;
  }
  .follow-us-text {
    color: black;
  }
  @media only screen and (max-width: 600px) {
    header {
      height: 110px;
    }
    .horizontal-nav {
       display: none;
     }
    .main-container {
      border-top: 1px solid black;
      padding-top: 30px;
    }
    header a.logo {
      display: none;
    }
 }
 

.dropdown {
  position: relative;
  display: block;
  width: auto;
  height: 25px;
}
.dropbtn {
  position: absolute;
  display: block;
  width: auto;
  height: 40px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ffffff;
}
 